.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eee;
  color: #444;
  transition: all 0.3s ease;
}

.activeButton {
  background-color: #007bff;
  color: #fff;
}

.component {
  width: 100%;
  max-width: 600px;
}
